

<%- include layouts/header.ejs %>

<!--
<div id="mySidenav" class="sidenav" style="width: 300px;" >
        <img  src="../images/bank-logo-light.png" style="padding-left:14%;">
    &lt;!&ndash; <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>&ndash;&gt;
    <a  class=" active" href="/allblocks" ><img src="../images/block.png" height="70px" width="115px"/><br>    All Blocks</a>
    <a  class="navBar" href="/pendingTransaction"  ><img src="../images/process.png" height="80px" width="80px"/><br>Processing Transaction</a>
    <a  class="navBar" href="/allcheques" ><img src="../images/cheque1.png" height="80px" width="80px"/><br> All Cheques</a>
    <a  class="navBar" href="/alltrasdisplay" ><img src="../images/transection.png" height="80px" width="80px"/><br>  All Transaction</a>
</div>
-->
<style>
    div#status{position:fixed; font-size:24px;}
    div#wrap{width:800px; margin:0px auto;}
/*    div.newData{height:1000px; background:#09F; margin:10px 0px;}*/
    div.newData{}
</style>
<script>
 /*   $(window).scroll(function() {
        if($(window).scrollTop() == $(document).height() - $(window).height()) {
           alert("123");
           window.location.href = '/allblocks_next/<%=data[data.length-1].id%>';
        }
    });
*/

    function yHandler(){
        // Watch video for line by line explanation of the code
        // http://www.youtube.com/watch?v=eziREnZPml4
        var wrap = document.getElementById('wrap');
        var contentHeight = wrap.offsetHeight;
        var yOffset = window.pageYOffset;
        var y = yOffset + window.innerHeight;
        if(y >= contentHeight){
            // Ajax call to get more dynamic data goes here
            window.location.href = '/allblocks_next/<%=data[data.length-1].id%>';
            wrap.innerHTML += '<div class="newData"> rwrwe</div>';

        }
     //   var status = document.getElementById('status');
      //  status.innerHTML = contentHeight+" | "+y;
    }
    //window.onscroll = yHandler;

</script>

<div class="page-data" id="datatable" >


    <div style="padding-left:20%;padding-bottom: 3%;padding-top: 2%;width: 100%;">
        <form method="post" action="/allblocks_search">
        <input type="text" placeholder="    Search by Block ID.." name="id" style="width: 71%; border-radius: 25px;">
       <button type="submit" class="a-inside edit" style=" border-radius: 25px;">Search</button>
        </form>
    </div>

    <div class="data-table">
             <table cellspacing="0" cellpadding="0">
           <!-- <lable ><b> Block List</b></lable>-->

            <tr >
                <th>Block ID</th>
                <th>Timestamp</th>
                <th>Transaction Count</th>
                <th>Mined by</th>
            </tr>

            <% if(data.length){

            for(var i = 0;i < data.length;i++) { %>

            <tr  class='clickable-row' data-href='/allblocks/<%= data[i].id %>'>
               <td><%= data[i].id %> </td>
                <td><%= data[i].timestamp %></td>
                <td><%= data[i].transactions.length %></td>
                <td><%= data[i].miner %></td>


            <!--    <td>
                    <a class="a-inside edit" href="/allblocks/<%= data[i].id %>">View</a>
                </td>-->
            </tr>


            <% }

            }else{ %>
            <tr>
                <td colspan="6">No data available</td>
            </tr>
            <% } %>

        </table>
        <div align="right" style="padding-top: 2%;">
            <% if(data.length){%>
            <a class="a-inside edit" href="/allblocks_previous/<%=data[0].id%>">Previous</a><a class="a-inside edit" href='/allblocks_next/<%=data[data.length-1].id%>'>Next</a>
                     <%}%>
        </div>
    </div>
    <div id="status">0 | 0</div>
    <div id="wrap">
</div>



<%- include layouts/footer.ejs %>
