<%- include layouts/header.ejs %>

<div id="mySidenav" class="sidenav">
    <!--    <img  src="../images/bank-logo-light.png" style="padding-left:14%;">-->
    <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->
    <a  class=" navBar" href="/allblocks" ><img src="../images/block.png" height="70px" width="115px"/><br>     All Blocks</a>
    <a  class="navBar" href="/pendingTransaction"  ><img src="../images/process.png" height="80px" width="80px"/><br>Processing Transaction</a>
    <a  class="navBar active" href="/allcheques" ><img src="../images/cheque1.png" height="80px" width="80px"/><br> All Cheques</a>
    <a  class="navBar" href="/alltrasdisplay" ><img src="../images/transection.png" height="80px" width="80px"/><br>  All Transaction</a>
</div>


<div class="page-data"  id="datatable">


        <div style="padding-left:20%;padding-bottom: 3%;padding-top: 2%;width: 100%;">
            <form method="post" action="/allpromizes_search">
                <input type="text" placeholder="    Search by Promize ID.." name="id" style="width: 71%; border-radius: 25px;">
                <button type="submit" class="a-inside edit" style=" border-radius: 25px;">Search</button>
            </form>
        </div>
    <div class="data-table">
        <table  cellpadding="7" cellspacing="7">
         <!--   <lable ><b> Cheque List</b></lable>-->
            <tr>
                <th>Promize ID</th>
                <th>Bank</th>
 <!--               <th>Date</th>-->
                <th>Promize Amount</th>


            </tr>

            <% if(data.length){

            for(var i = 0;i < data.length;i++) { %>

            <tr class='clickable-row' data-href='/promizesview/<%= data[i].id %>'>
                <td><%=data[i].id%></td>
                <td><%=data[i].bank%></td>
              <!--  <td><%=data[i].date%></td>-->
                <td><%=data[i].amount%></td>

               <!-- <td>
                    <a class="a-inside edit" href="/chequeview/<%=data[i].id%>">View</a>
               </td>-->
            </tr>
            <% }

            }else{ %>
            <tr>
                <td colspan="6">No data available</td>
            </tr>
            <% } %>

        </table>
        <div align="right" style="padding-top: 2%;">
            <% if(data.length){%>
        <a class="a-inside edit" href="/allcheques_previous/<%=data[0].id%>">Previous</a><a class="a-inside edit" href='/allcheques_next/<%=data[data.length-1].id%>'>Next</a>
       <%}%>
        </div>
    </div>
</div>


<%- include layouts/footer.ejs %>
