
<%- include layouts/header.ejs %>



<div class="page-data">

    <div style="float: right;">
        <form method="post" action="/transection_search">
            <input type="text" placeholder="Search by Transaction ID.." name="id" >
            <button type="submit" ><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="data-table">
        <table border="1" cellpadding="7" cellspacing="7">
            <lable ><b> Transaction List</b></lable>
            <tr>
                <th>Transaction ID</th>
                <th>Bank ID</th>
                <th>Check Amount</th>
                <th>Check ID</th>
                <th>From ACC</th>
                <th>Created@</th>
                <th></th>
            </tr>

            <% if(data.length){

            for(var i = 0;i < data.length;i++) { %>

            <tr>
                <td><%= data[i].id %></td>
                <td><%= data[i].bank_id %></td>
                <td><%= data[i].cheque_amount %></td>
                <td><%= data[i].cheque_id %></td>
                <td><%= data[i].from_acc %></td>
                <td><%= data[i].timestamp %></td>
                <td>
                                <a class="a-inside edit" href="/transview/<%=data[i].id%>">View</a>
                </td>

            </tr>
            <% }

            }else{ %>
            <tr>
                <td colspan="6">No data available</td>
            </tr>
            <% } %>

        </table>
    </div>
</div>

<%- include layouts/footer.ejs %>