<!--<div id="mySidenav" class="sidenav">
    <img  src="../images/bank-logo-light.png" style="padding-left:14%;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a  class="navBar " href="/allblocks" ><i class="fa fa-home"></i>   All Blocks</a>
    <a  class="navBar" href="/pendingTransaction" ><i class="fa fa-window-restore"></i> Processing Transaction</a>
    <a  class="navBar " href="/allcheques" ><i class="fa fa-money"></i> All Cheques</a>
    <a  class="navBar active" href="/alltrasdisplay" ><i class="fa fa-upload"></i> All Transaction</a>
</div>-->
<div class="page-data">
    <div class="data-table"  id="datatable">
        <table border="1" cellpadding="7" cellspacing="7">
            <tr>
                <th>Transaction ID</th>
                <th>Bank ID</th>
                <th>Check Amount</th>
                <th>Check ID</th>
                <th>From ACC</th>
                <th>Created@</th>

            </tr>

            <% if(data.length){

            for(var i = 0;i < data.length;i++) { %>

            <tr>
                <td><%= data[i].id %></td>
                <td><%= data[i].bank_id %></td>
                <td><%= data[i].cheque_amount %></td>
                <td><%= data[i].cheque_id %></td>
                <td><%= data[i].from_acc %></td>
                <td><%= data[i].timestamp %></td>

            </tr>
            <% }

            }else{ %>
            <tr>
                <td colspan="6">No data available</td>
            </tr>
            <% } %>

        </table>
<!--        <div align="right" style="padding-top: 2%;">
            <% if(data.length){%>
            <a class="a-inside edit" href="/allcheques_previous/<%=data[0].id%>">Previous</a><a class="a-inside edit" href='/allcheques_next/<%=data[data.length-1].id%>'>Next</a>
            <%}%>
        </div>-->
    </div>
</div>