<%- include layouts/header.ejs %>
<div id="mySidenav" class="sidenav">
    <img  src="../images/bank-logo-light.png" style="padding-left:14%;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a  class="navBar active" href="/allblocks" ><i class="fa fa-home"></i>   All Blocks</a>
    <a  class="navBar" href="/pendingTransaction" ><i class="fa fa-window-restore"></i> Processing Transaction</a>
    <a  class="navBar " href="/allcheques" ><i class="fa fa-money"></i> All Cheques</a>
    <a  class="navBar" href="/alltrasdisplay" ><i class="fa fa-upload"></i> All Transaction</a>
</div>

<div class="page-data" id="datatable">

<div id="wrapper2">
    <table cellpadding="11">
        <tr>
            <td class="label">Block ID</td><td>: <%=data[0].id%></td>
        </tr>
        <tr>
            <td class="label" valign="top">Bank ID</td><td>:<%=data[0].bank_id%></td>
        </tr>
        <tr>
            <td class="label" valign="top">Hash</td><td>:<%=data[0].hash%></td>
        </tr>
        <tr>
            <td class="label" valign="top">Merkle Root</td><td>:<%=data[0].merkle_root%></td>
        </tr>
        <tr>
            <td class="label" valign="top">Pre-Hash</td><td>:<%=data[0].pre_hash%></td>
        </tr>
        <tr>
            <td class="label" valign="top">Signatures</td><td>:<%=data[0].signatures%></td>
        </tr>
        <tr>
            <td class="label" valign="top">Created</td><td>:<%=data[0].timestamp%></td>
        </tr>


    </table>
</div>

</div>

<%- include layouts/footer.ejs %>
