<%- include layouts/header.ejs %>
<div id="mySidenav" class="sidenav" style="width: 16%;" >
    <img  src="../images/bank-logo-light.png" style="padding-left:10%;padding-bottom: 5%;padding-top:10%;" >
    <a  class="active" href="/allblocks" style="padding-left:10%;">Blocks</a>
    <a  class="navBar" href="/processingTransaction"  style="padding-left:10%;">  Processing Transactions</a>
    <a  class="navBar" href="/alltransaction" style="padding-left:10%;">  All Transactions</a>
    <a  class="navBar" href="/allpromizes" style="padding-left:10%;" > iGifts</a>
    <a  class="navBar" href="/users" style="padding-left:10%;" > Users</a>
    <a  class="navBar" href="/logout" style="padding-left:10%;">  Logout</a>
</div>

<div class="page-data">

    <div id="wrapper2" class="data-table-mini" style="padding-top:2%">
        <label style="font-size: 24px;padding-top:15%;padding-bottom:4%;"><b>Block ID # <%= data[0].id %></b></label>
        <div style="font-size: 24px;padding-top:2%;padding-bottom:1%;">
            <label><b>Info</b></label></div>
        <table cellpadding="12">
            <!--   <tr>
            <td class="label" style="font-size: 24px;">Block ID</td><td style="font-size: 24px;">: <%= data[0].id %></td>
        </tr>-->
            <tr>
                <td class="label" valign="top">Miner</td>
                <td align="right"><%= data[0].miner %></td>
            </tr>
            <tr>
                <td class="label" valign="top">Hash</td>
                <td align="right"><%= data[0].hash %></td>
            </tr>
            <tr>
                <td class="label" valign="top">Merkle Root</td>
                <td align="right"><%= data[0].merkle_root %></td>
            </tr>
            <tr>
                <td class="label" valign="top">Timestamp</td>
                <td align="right"><%=  moment(parseInt(data.timestamp)).format("DD MMM YYYY hh:mm:ss a")%></td>
            </tr>
        </table>
    </div>

    <div class="data-table" style="padding-top: 4%;">
        <label style="font-size: 24px;padding-top:15%;padding-bottom:4%;"><b>Transactions</b></label>
        <table cellpadding="7" cellspacing="7">
            <!--            <lable ><b> Processing List</b></lable>-->
            <tr>
                <th>Transaction ID</th>
                <th>Bank</th>
                <th>Amount</th>
                <th>From Acc</th>
                <th>To Acc</th>
                <th>Timestamp</th>

            </tr>

            <% if(data[0].transactions.length){
            for(var i = 0;i < data[0].transactions.length;i++) { %>

            <tr>
                <td><%= data[0].transactions[i].id %></td>
                <td><%= data[0].transactions[i].bank %></td>
                <td><%= data[0].transactions[i].promize_amount %></td>
                <td><%= data[0].transactions[i].from_account %></td>
                <td><%= data[0].transactions[i].to_account %></td>
                <td><%= moment(parseInt(data.timestamp)).format("DD MMM YYYY hh:mm:ss a")%></td>


            </tr>
            <% }

            }else{ %>
            <tr>
                <td colspan="6">No data available</td>
            </tr>
            <% } %>

        </table>

    </div>

</div>



<%- include layouts/footer.ejs %>
