<%- include layouts/header.ejs %>
<div id="mySidenav" class="sidenav">
    <!--    <img  src="../images/bank-logo-light.png" style="padding-left:14%;">-->
    <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->
    <a  class=" active" href="/allblocks" ><img src="../images/block.png" height="80px" width="120px"/><br>     All Blocks</a>
    <a  class="navBar" href="/pendingTransaction"  ><img src="../images/process.png" height="80px" width="80px"/><br>Processing Transaction</a>
    <a  class="navBar" href="/allcheques" ><img src="../images/cheque1.png" height="80px" width="80px"/><br> All Cheques</a>
    <a  class="navBar" href="/alltrasdisplay" ><img src="../images/transection.png" height="80px" width="80px"/><br>  All Transaction</a>
</div>


<div class="page-data" id="datatable">

<div id="wrapper2">
    <table cellpadding="11">
        <tr>
            <td class="label">Block ID</td><td>: <%=data[0].id%></td>
        </tr>
        <tr>
            <td class="label" valign="top">Bank ID</td><td>:<%=data[0].bank%></td>
        </tr>
        <tr>
            <td class="label" valign="top">Hash</td><td>:<%=data[0].hash%></td>
        </tr>
        <tr>
            <td class="label" valign="top">Merkle Root</td><td>:<%=data[0].merkle_root%></td>
        </tr>
        <tr>
            <td class="label" valign="top">Pre-Hash</td><td>:<%=data[0].pre_hash%></td>
        </tr>
        <tr>
            <td class="label" valign="top">Signatures</td><td>:<%=data[0].signatures%></td>
        </tr>
        <tr>
            <td class="label" valign="top">Created</td><td>:<%=data[0].timestamp%></td>
        </tr>


    </table>
</div>
    <div >
        <%- include alltrans.ejs %>
    </div>
</div>

</div>
</div>

<%- include layouts/footer.ejs %>
