<%- include layouts/header.ejs %>
<div id="mySidenav" class="sidenav">
    <!--    <img  src="../images/bank-logo-light.png" style="padding-left:14%;">-->
    <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->
    <a  class=" navBar" href="/allblocks" ><img src="../images/block.png" height="80px" width="120px"/><br>     All Blocks</a>
    <a  class="navBar active" href="/pendingTransaction"  ><img src="../images/process.png" height="80px" width="80px"/><br>Processing Transaction</a>
    <a  class="navBar " href="/allcheques" ><img src="../images/cheque1.png" height="80px" width="80px"/><br> All Cheques</a>
    <a  class="navBar" href="/alltrasdisplay" ><img src="../images/transection.png" height="80px" width="80px"/><br>  All Transaction</a>
</div>
<div class="page-data" id="datatable">
    <div class="data-table">
        <div style="float: right;">
            <form method="post" action="/pendingTransaction_search">
                <input type="text" placeholder="Search by TransactionTransaction ID.." name="id" >
                <button type="submit" class="a-inside edit">Search</button>
            </form>
        </div>
        <table border="1" cellpadding="7" cellspacing="7">
<!--            <lable ><b> Processing List</b></lable>-->
            <tr>
                <th>Transaction ID</th>
                <th>Bank ID</th>
                <th>Check Amount</th>
                <th>Check ID</th>
                <th>From ACC</th>
                <th>Created@</th>

            </tr>

            <% if(data.length){

            for(var i = 0;i < data.length;i++) { %>

            <tr  class='clickable-row' data-href='/pendingTransaction/<%= data[i].id %>'>
                <td><%= data[i].id %></td>
                <td><%= data[i].bank_id %></td>
                <td><%= data[i].cheque_amount %></td>
                <td><%= data[i].cheque_id %></td>
                <td><%= data[i].from_acc %></td>
                <td><%= data[i].timestamp %></td>
               <!-- <td>
                    <a class="a-inside edit" href="/pendingTransaction/<%=data[i].id%>">View</a>
                </td>-->

            </tr>
            <% }

            }else{ %>
            <tr>
                <td colspan="6">No data available</td>
            </tr>
            <% } %>

        </table>
        <div align="right" style="padding-top: 2%;">
            <% if(data.length){%>
            <a class="a-inside edit" href="/pendingTransaction_previous/<%=data[0].id%>">Previous</a><a class="a-inside edit" href='/pendingTransaction_next/<%=data[data.length-1].id%>'>Next</a>
            <%}%>
        </div>
    </div>
</div>


<%- include layouts/footer.ejs %>
