<%- include layouts/header.ejs %>
<div id="mySidenav" class="sidenav">
    <img  src="../images/bank-logo-light.png" style="padding-left:14%;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a  class="navBar " href="/allblocks" ><i class="fa fa-home"></i>   All Blocks</a>
    <a  class="navBar active" href="/pendingTransaction" ><i class="fa fa-window-restore"></i> Processing Transaction</a>
    <a  class="navBar " href="/allcheques" ><i class="fa fa-money"></i> All Cheques</a>
    <a  class="navBar " href="/alltrasdisplay" ><i class="fa fa-upload"></i> All Transaction</a>
</div>

<div class="page-data" id="datatable">

    <div id="wrapper3">
    <table cellpadding="11">
        <tr>
            <td class="label">Transaction ID</td><td>: <%=data[0].id%></td>
        </tr>
        <tr>
            <td class="label" valign="top">Bank ID</td><td>:<%=data[0].bank_id%></td>
        </tr>
        <tr>
            <td class="label" valign="top">Cheque Amount</td><td>:<%=data[0].cheque_amount%></td>
        </tr>
        <tr>
            <td class="label" valign="top">Cheque Bank ID</td><td>:<%=data[0].cheque_bank_id%></td>
        </tr>
        <tr>
            <td class="label" valign="top">Cheque Date</td><td>:<%=data[0].cheque_date%></td>
        </tr>
        <tr>
            <td class="label" valign="top">Cheque ID</td><td>:<%=data[0].cheque_id%></td>
        </tr>
        <tr>
            <td class="label" valign="top">Digital Sign</td><td>:<%=data[0].digsig%></td>
        </tr>
        <tr>
            <td class="label" valign="top">From Account</td><td>:<%=data[0].from_acc%></td>
        </tr>
        <tr>
            <td class="label" valign="top">Status</td><td>:<%=data[0].status%></td>
        </tr>
        <tr>
            <td class="label" valign="top">Date</td><td>:<%=data[0].timestamp%></td>
        </tr>
        <tr>
            <td class="label" valign="top">To Account</td><td>:<%=data[0].to_acc%></td>
        </tr>


    </table>

    </div>
</div>

<%- include layouts/footer.ejs %>
