<%- include layouts/header.ejs %>
<div id="mySidenav" class="sidenav">
    <!--    <img  src="../images/bank-logo-light.png" style="padding-left:14%;">-->
    <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->
    <a  class=" navBar" href="/allblocks" ><img src="../images/block.png" height="70px" width="115px"/><br>     All Blocks</a>
    <a  class="navBar " href="/pendingTransaction"  ><img src="../images/process.png" height="80px" width="80px"/><br>Processing Transaction</a>
    <a  class="navBar " href="/allcheques" ><img src="../images/cheque1.png" height="80px" width="80px"/><br> All Cheques</a>
    <a  class="navBar active" href="/alltrasdisplay" ><img src="../images/transection.png" height="80px" width="80px"/><br>  All Transaction</a>
</div>
<div class="page-data" id="datatable">

    <div id="wrapper3" class="data-table-mini" style="padding-top:2%">
        <label  style="font-size: 24px;padding-top:15%;padding-bottom:4%;"><b>Transaction ID # <%=data[0].id%></b></label>
        <div style="font-size: 24px;padding-top:2%;padding-bottom:1%;">
            <label  ><b>Info</b></label></div>
        <table cellpadding="11">
            <!--     <tr>
            <td class="label">Transaction ID</td><td>: <%=data[0].id%></td>
        </tr>-->
            <tr>
                <td class="label" valign="top">Bank</td><td  align="right"><%=data[0].bank%></td>
            </tr>
            <tr>
                <td class="label" valign="top">Promize Amount</td><td  align="right"><%=data[0].promize_amount%></td>
            </tr>
            <tr>
                <td class="label" valign="top">Promize Bank</td><td  align="right"><%=data[0].promize_bank%></td>
            </tr>
            <!--    <tr>
            <td class="label" valign="top">Cheque Date</td><td  align="right"><%=data[0].cheque_date%></td>
        </tr>
        <tr>
            <td class="label" valign="top">Cheque ID</td><td  align="right"><%=data[0].cheque_id%></td>
        </tr>-->
            <tr>
                <td class="label" valign="top">Digital Sign</td><td  align="right"><%=data[0].digsig%></td>
            </tr>
            <tr>
                <td class="label" valign="top">From Account</td><td  align="right"><%=data[0].from_acc%></td>
            </tr>
            <tr>
                <td class="label" valign="top">To Account</td><td  align="right"><%=data[0].to_acc%></td>
            </tr>
            <tr>
                <td class="label" valign="top">Type</td><td  align="right"><%=data[0].type%></td>
            </tr>
            <tr>
                <td class="label" valign="top">Timestamp</td><td  align="right"><%=data[0].timestamp%></td>
            </tr>



        </table>

    </div>
</div>

<%- include layouts/footer.ejs %>
